<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Detail</h2>

  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label>ID</label>
        <input
          type="text"
          class="form-control"
          readonly
          value="{{ hero.id }}"
        >
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="name"
            [(ngModel)]="hero.name"
          >
        </div>
      </div>
      <button class="btn-primary mr-3" [disabled]="!hero.name.trim()" (click)="save()">Salvar</button>
      <button class="btn-secondary" (click)="goBack()">Voltar</button>
    </div>
  </div>

</div>
